body {
    background: rgba(100, 27, 184, 0.917);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.477);
}

input {
    border: transparent rgba(0, 0, 0, 0.499);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.395);
}

.button {
    background-color: rgba(rgb(161, 153, 153));
    border-radius: 20px;
    width: 80px;
    height: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.387);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(147, 145, 148);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}