body {
    background: rgba(100, 27, 184, 0.917);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.515);
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.477);
}

input {
    border: transparent rgba(0, 0, 0, 0.499);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.395);
}

.numero {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.394);
}

.button {
    background-color: rgba(rgb(161, 153, 153));
    border-radius: 10px;
    width: 90px;
    height: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.387);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(147, 145, 148);
}

select {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.353);
    border: none;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}